<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>La Cocina del Pirata</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body id="Fondo">

    <header>

    <div class="contenedor">
      <img id="cabecera2" src="../assets/img/pirata.jpg" alt="foto portada">
      <div class="texto-encima">
        <h1 class="tamañoGrande" style="color: brown">"La Cocina del Pirata"</h1>
      </div>
      <div class="centrado">

    </div>

    <nav class="navegacion">
      <ul class="menu">
      <li><a href="layouts/index.html">inicio</a></li>
      <li><a href="#">anime</a>
        <ul class="submenu">
            <li><a href="#">One Piece</a>
              <ul class="submenu2">
                <li><a href="LaCocinadelPirata.html">Carne Asada y Huevo</a></li>
                <li><a href="#">Pavo a la Mandarina</a></li>
                <li><a href="#">El Increíble Curry</a></li>
              </ul>

            </li>
            <li><a href="#">Naruto</a>
              <ul class="submenu2">
                <li><a href="#">El Increíble Ramen</a></li>
                <li><a href="#">Dangos</a></li>
                <li><a href="#">El Delicioso Curry de la Vida</a></li>
              </ul>

            </li>
            <li><a href="#">Doreamon</a>
              <ul class="submenu2">
                <li><a href="#">Dorayakis</a></li>
                <li><a href="#">Meropan</a></li>
              </ul>

            </li>
            <li><a href="#">Pokemon</a>
              <ul class="submenu2">
                <li><a href="#">Pokelitos</a></li>
                <li><a href="#">Tarta de PokemonGon SIN HORNO</a></li>
              </ul>

            </li>
            <li><a href="#">Shokugeki No Soma</a>
              <ul class="submenu2">
                <li><a href="#">Cerdo al Horno ¡FALSO!</a></li>
                <li><a href="#">El delicioso Sumire Karaage</a></li>
                <li><a href="#">El Super Picande Mapo Tofu</a></li>
              </ul>

            </li>
        </ul>
      </li>
      <li><a href="#">series</a></li>
      <li><a href="#">dibujos</a>
        <ul class="submenu">
            <li><a href="#">Hora de Aventura</a>
              <ul class="submenu2">
                <li><a href="#">El Sándwich PERFECTO</a></li>
                <li><a href="#">Tarta de Manzana</a></li>
                <li><a href="#">Pancakes de Bacón Fritos</a></li>
              </ul>

            </li>
            <li><a href="#">Bob Esponja</a>
              <ul class="submenu2">
                <li><a href="#">Cangreburger</a></li>
                <li><a href="#">Helado Amanecer Cacahuate Triple</a></li>
                <li><a href="#">Deliciosa Colorburguers</a></li>
              </ul>

            </li>
            <li><a href="#">Regular Show</a>
              <ul class="submenu2">
                <li><a href="#">La Increíble Hamburguesa Ultimatum</a></li>
                <li><a href="#">Alitas Picantes</a></li>
              </ul>

            </li>
            <li><a href="#">Steven Universe</a>
              <ul class="submenu2">
                <li><a href="#">Desayuno Juntos</a></li>
                <li><a href="#">Gato Galletas</a></li>
                <li><a href="#">Pastel Ube</a></li>
              </ul>

            </li>
            <li><a href="#">Los Simpsons</a>
              <ul class="submenu2">
                <li><a href="#">Alitas Verdes de Wasabi</a></li>
                <li><a href="#">Costiburguer</a></li>
                <li><a href="#">Pastel de 1000000 Calosrías</a></li>
              </ul>

            </li>
        </ul>
      </li>

      </ul>
    </nav>
    </header>

    <main>
      <aside class="multimedia">
        <img id="poster" src="../assets/img/soulKing.jpg" alt="imagen Soul King">

        <audio id="mp3" src="../assets/song/New-World.mp3" controls= "controls" preload="auto" ></audio>

        <img id="gif" src="../assets/img/55246.gif" alt="gif">
      </aside>

      <section id="comienzo">
          <img id="pirata" src="../assets/img/789.png" alt="pirata">

          <p class="AunLado">Muy Buenas Grumetes! <br> Aquí prepararemos las recetas más implacables de los 7 mares!! <br> Comidas de series, animes, restaurantes.. de todo!! <br> Únete a la tripulación de la cocina del pirata y aprenderás a sorprender a todos tus nakamas!!! </p>

        <div class="noticia">
          <img id="galletas"src="../assets/img/foto1.jpg" alt="Galletas">
          <p class="texto">👉Te levantas de la cama y te dicen... <br>¿te apetecen una cookies? Yo lo pongo todo a su nombre!! <br> 🔥¿Cual os mola más? <br>A mi TODAS xD <br>.<br>.<br>. <br>#cookies
          #galletas #cocinadelpirata #dulce #desayunosaludable #desayuno</p>
        </div>
        <div class="noticia2">
          <img id="imagen2" src="../assets/img/foto2.jpg" alt="imagen2">
          <p class="texto">Que bien me lo pase con @pino.prestanizzi y todos sus chicos grabando!! <br> 👉Buen pizzero,buen Italiano, mejor persona! DEFISIENTEEEEEE😄 <br> 🔥Hoy en La cocina del Pirata a las 19:30 tenéis nuevo vídeo con este crack! 🍔Y a la misma hora en el canal de Pino otra videazo! <br> 🍎No os lo perdáis!!...#pino #pizza #comidaitaliana #italiano #cocinadelpirata #pinoprestanizzi #untreh</p>

        </div>
        <div class="noticia3">
          <img id="imagen3"src="../assets/img/foto3.jpg" alt="imagen3">
          <p class="texto">Hoy a las 19.30...EL PIRATA VS JOE BURGER @joeburgerchallenge <br> 👉Espagueti con Albóndigas de EL PADRINO!!! <br> 😉La receta original pero a lo bestia! <br> 🔥¿Será capaz de comérselo? Dejarme la respuesta en los comentarios!<br> .<br>.<br>.<br> #espaguetis #elpadrino #albondigas #cocinadelpirata #pastafresca #elpiratavsjoe</p>

        </div>

      </section>

    </main>

    <footer class="logos">

      <img id="render" src="../assets/img/squirtle.png" alt="squirtle">

      <ul class="pieDePagina">
        <li><img src="../assets/img/facebook.png" alt="logo">
          <a class="links" href="https://www.facebook.com/cocinadelpirata/">Facebook</a></li>

        <li><img src="../assets/img/instagram.png" alt="logo">
          <a class="links" href="https://www.instagram.com/cocinadelpirata/">Instagram</a></li>

        <li><img src="../assets/img/twitter.png" alt="logo">
            <a class="links" href="https://twitter.com/cocinadelpirata">Twitter</a></li>

        <li><img src="../assets/img/youtube.png" alt="logo">
          <a class="links" href="https://www.youtube.com/channel/UCmkj-Yx7IhPCYar95cRvVJQ">YouTube</a></li>
      </ul>

    </footer>



  </body>
</html>
